#服务描述性的配置
[Unit]
Description=Redis
Documentation=https://redis.io/
After=network.target remote-fs.target nss-lookup.target
#服务关键配置
[Service]
Type=forking
#pid文件位置 
#要与redis配置文件中的pid配置路径一致，这个很重要，否则会服务启动失败
PIDFile=/var/run/redis.pid
#启动
ExecStart=/usr/local/bin/redis-server /etc/redis.conf
#关闭
ExecStop=/usr/local/bin/redis-cli shutdown
PrivateTmp=true
[Install]
WantedBy=multi-user.target