#服务描述性的配置
[Unit]
Description=Supervisor process control system for UNIX
Documentation=http://supervisord.org
After=network.target
#服务关键配置
[Service]
Type=forking
#pid文件位置 
#要与redis配置文件中的pid配置路径一致，这个很重要，否则会服务启动失败
PIDFile=/var/run/redis.pid
#启动
ExecStart=/usr/bin/supervisord  -c /etc/supervisord.conf
#重启
ExecReload=/usr/bin/supervisorctl $OPTIONS reload
#关闭
ExecStop=/usr/bin/supervisorctl $OPTIONS shutdown
PrivateTmp=true
[Install]
WantedBy=multi-user.target